<!doctype html>
<html>

<head>
	<title>Concertim | Powered by Alces Flight</title>
	<meta charset="utf-8">
    <script>var organisation = "<%= @org.name %>"</script>
	<link rel="stylesheet" type="text/css" href="../c/index.css" />
	<script type="text/javascript" src="../j/jquery.3.5.1.min.js"></script>
	<script type="text/javascript" src="../j/echarts.min.js"></script>
</head>

<body>
		<div id="nav-bar"></div>
		<h1 id="main-title"></h1>
		<div id="overview-wrapper">
			<div id="monthly-overview">
				<h2 class="board-title">Monthly Overview</h2>
				<p id="audit-date">06.01.2024 - 10.06.2024</p>
				<div id="capacity-data-wrapper" class="monthly-overview-data-wrapper"></div>
				<div id="capacity-bar" class="monthly-overview-bar"></div>
				<div id="cost-data-wrapper" class="monthly-overview-data-wrapper"></div>
				<div id="cost-bar" class="monthly-overview-bar"></div>
			</div>
			<div id="platform-capacity-pie-chart" class="platform-breakdown-chart">Capacity</div>
			<div id="platform-cost-pie-chart" class="platform-breakdown-chart">Cost</div>
			<div id="platform-legend-wrapper">
				<p id="platform-legend-sort">Sort by: Name A-Z</p>
				<div id="platform-legend-list-wrapper">
					<div id="platform-legend-scroll-wrapper"></div>
				</div>
			</div>
			<div id="resource-dimension-box"></div>
			<div id="resource-wrapper">
				<div id="resource-return"></div>
				<h2 class="board-title">Global Resources</h2>
			</div>
		</div>
    <div id="earth-wrapper">
			<div id="earth-scene-wrapper"></div>
				<div id="uk" class="earth-anchor" flight-location="GBR">3</div>
    </div>

	<script type="module" src="../j/earth/earth.js"></script>
	<script type="text/javascript" src="../j/index.js"></script>
</body>

</html>
