.bright {
    color: green;
    font-weight: bold;
}

.pageGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.groupCard {
    margin-bottom: 32px;
}
