.bright {
    color: green;
    font-weight: bold;
}

.pageGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: calc(100vh - 1rem);
    padding: 1rem;
    box-sizing: border-box;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.groupCard {
    margin-bottom: 32px;
}

.changes {
    min-width: 20rem;
}

.requestButton {
    margin-top: auto;
    margin-bottom: 1rem;
}
