.bright {
    color: green;
    font-weight: bold;
}

.pageGrid {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    column-gap: 1rem;
    height: calc(100vh - 1rem);
    box-sizing: border-box;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 1rem;
}
.column:first-child {
    padding-left: 2rem;
}
.column:last-child {
    padding-right: 2rem;
}

.groupCard {
    border: solid 1px dodgerblue;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    padding: 1rem 2rem;
}

.groupCardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.changes {
    width: 100%;
}

.requestButton {
    margin-top: auto;
    margin-bottom: 1rem;
}
