@font-face {
  font-family: 'Quicksand';
  src: url("../f/Quicksand.ttf");
}

body {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Quicksand';
}

#slogan {
  position: absolute;
  top: calc(28% - 100px);
  height: 200px;
  left: 5%;
  width: 90%;
  text-align: left;
  color: orangered;
  line-height: 200px;
  font-size: 240px;
}

#earth-wrapper {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 30vh;
  right: -30vh;
  height: 100vh;
  width: 100vh;
}

#uk {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -36px;
  left: -36px;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  border-radius: 30px;
  border: 3px solid orangered;
  background-color: #FFFFFF;
  visibility: hidden;
  transform-origin: center;
  scale: 0;
  opacity: 0;
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  line-height: 42px;
  color: orangered;
  user-select: none;
  transition:
      visibility 96ms ease-in,
      opacity 96ms ease-in,
      scale 96ms ease-in;
  z-index: 999;
}